<nav-bar active-tab="about"></nav-bar>

<div class="container container-1 page-body " webpage>
    <div class="row block-1">
        <div class="col-lg-12">
            <h1 align="center">About</h1>
            <hr class="hr-fat">
        </div>


    </div>
    <div class="row block-1">
        <div class="col-lg-8">
            <h2>What is Local Node?</h2>
            <p style="font-size: 14pt;">Local Node is a locally hosted server that manages and stores files in the local
                network.
                It is controlled using a web interface that also provides possibility of discussion on the
                forum with other people on your network.
            </p>
        </div>
        <div class="col-lg-4">
            <img class="cube" src="../src/img/profile.png" id="myarchlinux" class="profile img-responsive"
                 alt="Filler picture"/>
        </div>
    </div>

    <div class="row block-2">
        <div class="col-md-12">
            <h2>Why use Local Node?</h2>
            <p style="font-size: 14pt;">
                You don't have to pay for space using Local Node and there is no internet required, like you would with
                other
                similar cloud storages. Local Node is secure, so you do not need to worry about the safety of your
                files.
            </p>
        </div>
    </div>
    <div class="row block-1">
        <div class="col-md-12">
            <h2>Tools we used</h2>
            <ul class="list">
                <li>Node.js</li>
                <li>AngularJS</li>
                <li>Express</li>
                <li>PostgreSQL</li>
                <li>Bootstrap</li>
                <li>Emacs</li>
                <li>WebStorm</li>
                <li>Computers</li>
                <li>Arch Linux</li>
                <li>Caffeine</li>
            </ul>
        </div>
    </div>
    <div class="row block-2">
        <div class="col-md-12">
            <h2>Authors</h2>
            <br>
            <div class="author-block">
                <div class="row">
                    <div class="col-lg-8">
                        <p style="font-size: 14pt;">Zachary Schafer</p>
                        <p style="font-size: 12pt;">Email: facade@linux.com</p>
                    </div>
                    <div class="col-lg-4">
                        <img style="width: 90%; border: 2px solid white" src="../src/img/zach.png" alt="zach">
                    </div>
                </div>
            </div>
            <div class="author-block">
                <div class="row">
                    <div class="col-lg-8">
                        <p style="font-size: 14pt;">Maxim Zaman</p>
                        <p style="font-size: 12pt;">Email: zamanmm@linux.com</p>
                    </div>
                    <div class="col-lg-4">
                        <img style="width: 90%; border: 2px solid white" src="../src/img/max.png" alt="max">
                    </div>
                </div>
            </div>
            <div class="author-block">
                <div class="row">
                    <div class="col-lg-8">
                        <p style="font-size: 14pt;">Wise Guy Van Pelt</p>
                        <p style="font-size: 12pt;">Email: vanpelwc@rose-hulman.edu</p>
                    </div>
                    <div class="col-lg-4">
                        <img style="width: 90%; border: 2px solid white" src="../src/img/wiseguy.png" alt="wiseguy">
                    </div>
                </div>
            </div>
            <div class="author-block">
                <div class="row">
                    <div class="col-lg-8">
                        <p style="font-size: 14pt;">Xingcheng Jiang</p>
                        <p style="font-size: 12pt;">Email: jiangx1@rose-hulman.com</p>
                    </div>
                    <div class="col-lg-4">
                        <img style="width: 90%; border: 2px solid white" src="../src/img/jason.png" alt="jasang">
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
