<div class="container-fluid">
    <nav-bar></nav-bar>
</div>

<div class="container container-1 page-body " webpage>
    <div class="row block-1">
        <h1 align="center">About</h1>
        <hr class="hr-fat">
        <div class="col-md-8">
            <h3>This is the good stuff</h3>
        </div>
        <div class="col-md-4">
            <img src="../src/img/wallpaper.png" id="myarchlinux" class="profile img-responsive"
                 alt="Filler picture"/>
        </div>
    </div>
    <div class="row block-2">
        <div class="col-md-12">
            <h2>The good stuff</h2>
            <br>
            <ul>
                <li>Good stuff</li>
                <li>Very reliable and good</li>
                <li>Filler filler filler</li>
                <li>Nice front-end</li>
            </ul>
        </div>
    </div>
    <div class="row block-1">
        <div class="col-md-12">
            <h2>Tools we used</h2>
            <br>
            <ul>
                <li>Node.js</li>
                <li>AngularJS</li>
                <li>Other stuff</li>
                <li>Emacs</li>
                <li>Webstorm</li>
                <li>Other stuff</li>
            </ul>
        </div>
    </div>
    <div class="row block-2">
        <div class="col-md-12">
            <h2>Why use this</h2>
            <br>
            <p>See first section</p>
        </div>
    </div>
</div>
