<nav-bar active-tab="files"></nav-bar>

<div class="container container-1 page-body" webpage>
    <div class="row">
        <div align="center" class="col-lg-12">
            <h1>Files</h1>
            <hr class="hr-fat"/>
        </div>
    </div>
    <div id="browser">
        <div id="line-list" ng-repeat="element in contents" ng-click="openContent(element)">
            <div ng-if="element.type == 'dir'">
                <a align="center" class="dir">
                    <div class="icon">
                        <img style="max-width: 50px" src="../src/img/dir.png" alt="penis" align="middle">
                    </div>
                    {{element.name}}
                </a>
            </div>
            <div ng-if="element.type == 'file'">
                <a align="center" class="dir">
                    <div class="icon">
                        <img style="max-width: 50px" src="../src/img/file.png" alt="penis" align="middle">
                    </div>
                    {{element.name}}
                </a>
            </div>
        </div>
    </div>
</div>
