<nav-bar active-tab="forum"></nav-bar>
<div class="container container-1 page-body " webpage>
    <div class="row">
        <div class="col-lg-12">
            <h1 align="center">Forum</h1>
            <hr class="hr-fat">
        </div>
    </div>
    <div class="threads">
        <div class="row row-centered">
            <div class="col-lg-3" ng-repeat="category in categories" ng-click="openCategory(category)">
                <img src="../src/img/category.png" class="img-responsive"
                     alt="{{category.title}}" title="{{category.title}}"/>
                <h3 align="center">{{category.title}}</h3>
            </div>
        </div>
    </div>
    <div ui-view="threaddisplay"></div>
</div>
