<div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <a class="navbar-brand">
                    <img class="logo img-responsive" src="../src/img/logo.png" width=340px alt="Logo">
                </a>
                <ul id="navigation" class="nav navbar-nav navbar-right">
                    <li>
                        <a class="active" navigator href ng-click="goTo({viewLoc: 'home'})">Home</a>
                    </li>
                    <li>
                        <a navigator href ng-click="goTo({viewLoc: 'about'})">About</a>
                    </li>
                    <li>
                        <a navigator href ng-click="goTo({viewLoc: 'user'})">Users</a>
                    </li>
                    <li>
                        <a navigator href ng-click="goTo({viewLoc: 'forum'})">Forum</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</div>

<div align="center" class="container container-1 page-body" webpage>
    <div class="row block-1">
        <div class="col-lg-12 jumbotron">
            <h1>Local Node</h1>
            <p>Your local file storage</p>
        </div>
    </div>
    <div class="row block-2">
        <div class="col-lg-8">
            <h2>Wtf is this and learn more about this page</h2>
            <h4>We're like a cloud but at your house. it's pretty awesome yo</h4>
            <button navigator ng-click="goTo({viewLoc: 'about'})" class="btn-lg">Learn More</button>
        </div>
        <div class="col-lg-4">
            <span class="glyphicon glyphicon-cloud logo-1"></span>
        </div>
    </div>
    <div class="row block-1">
        <div class="col-lg-4">
            <span class="glyphicon glyphicon-lock logo-2"></span>
        </div>
        <div class="col-lg-8">
            <h2>We value security</h2>
            <h4>Local Node delivers secure shit so that 1337h4x0rZ can't hack your shit yo</h4>
        </div>
    </div>
</div>
