<nav-bar active-tab="login"></nav-bar>

<div ng-hide="loggedIn" class="container container-1 page-body " webpage>
    <div align="center" class="row">
        <div class="col-lg-12">
            <h1>Log in or Sign up</h1>
            <hr class="hr-fat">
        </div>

    </div>
    <div align="center" class="row">
        <div class="col-lg-6">
            <button style="width: 100%" ng-click="setHasAccountTrue()" class="btn btn-lg btn-secondary">I already have
                an account
            </button>
        </div>
        <div class="col-lg-6">
            <button style="width: 100%" ng-click="setHasAccountFalse()" class="btn btn-lg btn-secondary">Create an
                account
            </button>
        </div>
    </div>
    <hr>
    <div style="margin-bottom: 2%" ng-show="hasAccount" class="row">
        <div class="col-lg-6">
            <h1>Login</h1>
            <hr class="hr-fat">
            <form name="form" ng-submit="vm.login()" role="form">
                <div class="form-group"
                     ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                    <label for="username">Username</label>
                    <input type="text" name="username" class="form-control" ng-model="vm.username" required/>
                    <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" ng-model="vm.password" required/>
                    <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                </div>
                <div class="form-actions">
                    <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-secondary">
                        Login
                    </button>
                    <span ng-show="vm.loginAttempted" class="help-block">Login Failed</span>
                    <img ng-if="vm.dataLoading"
                         src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                </div>
            </form>
        </div>
        <div class="col-lg-6">
            <img class="cube" src="../src/img/cube.gif" alt="cube" title="coob">
        </div>
    </div>
    <div style="margin-bottom: 2%" ng-hide="hasAccount" class="row">
        <div class="col-lg-6">
            <img class="cube" src="../src/img/cube.gif" alt="cube" title="coob">
        </div>
        <div class="col-lg-6">
            <h1>Sign up</h1>
            <hr class="hr-fat">
            <form name="registerform" ng-submit="vm.register()" role="form">
                <!-- <div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
                     <label for="username">First name</label>
                     <input type="text" name="firstName" id="firstName" class="form-control" ng-model="vm.user.firstName" required />
                     <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
                     </div>
                     <div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
                     <label for="username">Last name</label>
                     <input type="text" name="lastName" id="Text1" class="form-control" ng-model="vm.user.lastName" required />
                     <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span>
                     </div> -->
                <div class="form-group"
                     ng-class="{ 'has-error': registerform.username.$dirty && registerform.username.$error.required }">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" class="form-control" ng-model="vm.user.username"
                           required/>
                    <span ng-show="registerform.username.$dirty && registerform.username.$error.required"
                          class="help-block">Username is required</span>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error': registerform.password.$dirty && registerform.password.$error.required }">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control"
                           ng-model="vm.user.password" required/>
                    <span ng-show="registerform.password.$dirty && registerform.password.$error.required"
                          class="help-block">Password is required</span>
                </div>
                <div class="form-actions">
                    <button type="submit" ng-disabled="registerform.$invalid || vm.dataLoading"
                            class="btn btn-secondary">Register
                    </button>
                    <span ng-show="vm.registerAttempted ">{{registerFailedMessage}}</span>
                    <img ng-if="vm.dataLoading"
                         src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                    <!--<a href="#/login" class="btn btn-link">Cancel</a>-->
                </div>
            </form>
        </div>
    </div>


</div>
<div ng-show="loggedIn" align="center" class="container container-1 page-body" webpage>
    <div class="row">
        <div class="col-lg-12">
            <h2>Currently logged in as <b style="color: black">{{username}}</b></h2>
            <hr class="hr-fat">
        </div>
    </div>
    <div style="margin-bottom: 2%;" class="row">
        <div style="border-right: 2px solid white" class="col-lg-6">
            <div class="row">
                <div class="col-lg-12">

                    <button style="width: 100%;" navigator ng-click="goTo({viewLoc: 'files'})" class="btn btn-lg btn-secondary">View Files</button>
                </div>
            </div>
        </div>
        <div style="border-left: 2px solid white" class="col-lg-6">
            <div class="row">
                <div class="col-lg-12">
                    <button style="width: 100%;" navigator ng-click="goTo({viewLoc: 'forum'})" class="btn btn-lg btn-secondary">View Forum</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <hr class="hr-fat">
        </div>
    </div>
    <div style="margin-bottom: 2%;" class="row">
        <div style="border-right: 2px solid white" class="col-lg-6">
            <div class="row">
                <div class="col-lg-12">
                    <button style="width: 100%;" navigator ng-click="goTo({viewLoc: 'about'})" class="btn btn-lg btn-secondary">View About</button>
                </div>
            </div>
        </div>
        <div style="border-left: 2px solid white" class="col-lg-6">
            <div class="row">
                <div class="col-lg-12">
                    <button style="width: 100%;" ng-click="vm.logout()" class="btn btn-lg btn-secondary">Log out</button>
                </div>
            </div>
        </div>
    </div>
</div>
