<div class="modal-header"><h1>{{modalThread.title}}</h1></div>
<div class="modal-body">
    <div class="row comment-block vertical-align" ng-repeat="threadcomment in threadComments">
        <div class="col-lg-11">
            <p style="color: #ffffff"><b>{{threadcomment.username}} :{{threadcomment.timeofcreation | formatDate}} </b></p>
            <p>{{threadcomment.usertext}}</p>
        </div>
        <div class="col-lg-1" ng-click="deleteComment(threadcomment)">
            <img style="width: 25px;" src="../src/img/close.png" alt="close">
        </div>
    </div>
</div>

<div class="modal-footer">
    <form class="row" name="sumbitcomment" ng-submit="submitComment()" role="form">
        <div class="col-lg-6">
            <div align="left" class="form-group">
                <label>
                    <input placeholder="Enter Comment" class="form-control" name="comment" type="text" ng-model="usertext"/>
                </label>
            </div>
        </div>
        <div class="form-actions">
            <div class="col-lg-6">
                <button type="submit" class="btn btn-secondary">Submit comment</button>
                <button ng-click="ok()" class="btn btn-secondary">Close</button>
            </div>
        </div>
    </form>
</div>
