<div class="modal-header"><h1>Create New Thread</h1></div>
<div class="modal-footer">
    <form name="submitthread row" ng-submit="" role="form">
        <div class="col-lg-6">
            <div align="left" class="form-group">
                <label>
                    <input placeholder="Enter Thread Name" class="form-control" name="threadname" type="text" ng-model="threadtitle"/>
                </label>
            </div>
        </div>
        <div class="form-actions">
            <div class="col-lg-6">
                <button type="submit" ng-click="submit()" class="btn btn-secondary">Submit thread</button>
                <button ng-click="cancel()" class="btn btn-secondary">Close</button>
            </div>
        </div>
    </form>
</div>
