<div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <a class="navbar-brand">
                    <img class="logo img-responsive" src="../src/img/logo.png" width=340px alt="Logo">
                </a>
                <ul id="navigation" class="nav navbar-nav navbar-right">
                    <li>
                        <a navigator href ng-click="goTo({viewLoc: 'home'})">Home</a>
                    </li>
                    <li>
                        <a navigator href ng-click="goTo({viewLoc: 'about'})">About</a>
                    </li>
                    <li>
                        <a class="active" navigator href ng-click="goTo({viewLoc: 'user'})">Users</a>
                    </li>
                    <li>
                        <a navigator href ng-click="goTo({viewLoc: 'forum'})">Forum</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</div>

<div class="container container-1 page-body" webpage>
    <div class="row block-1">
        <div class="col-lg-12">
            <h1> Search for a user </h1>
            <input class="input-1" name="Username" ng-model="searchuser">
            <button type="button" class="btn btn-secondary" ng-click="onClick()">Search For user</button>
            <hr class="hr">

            <div>
                <h2>Results</h2>
                <div ng-hide="users.length == 0" class="user-block-inv">
                    <p>Username : {{user.username }}</p>
                    <p>Permission Level : {{user.userlevel }}</p>
                    <p>Last Access Date : {{user.lastaccessdate }}</p>
                    <p>Time of Creation : {{user.timeofcreation }}</p>
                </div>
                <div ng-show="users.length == 0">
                    <p>No results</p>
                </div>
                <div>
                </div>
                <!-- THIS IS THE CAROUSEL ITS NOT WERKING AS INTEDED -->
                <!--<div id="slides_control">-->
                <!--<carousel interval="myInterval">-->
                <!--<slide ng-repeat="slide in slides" active="slide.active">-->
                <!--<img ng-src="{{slide.image}}">-->
                <!--<div class="carousel-caption">-->
                <!--<h4>Slide {{$index+1}}</h4>-->
                <!--</div>-->
                <!--</slide>-->
                <!--</carousel>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <div class="row block-2">
        <div class="col-lg-12">
            <hr class="hr-fat">
            <h2> Display all users </h2>
            <button type="button" class="btn btn-secondary" ng-click="toggleDisplayAllUsers()">Show</button>
            <!-- <h3> Display all users or search for user </h3>
                 <button type="button" class="btn btn-secondary" ng-click="onClick()">Search For user!</button> -->

            <hr class="hr">

            <div ng-show="displayAllUsers">
                <ol ng-repeat="user in allUsers">
                    <ul class="user-block">
                        <p>Username : {{user.username }}</p>
                        <p>Permission Level : {{user.userlevel }}</p>
                        <p>Last Access Date : {{user.lastaccessdate }}</p>
                        <p>Time of Creation : {{user.timeofcreation }}</p>
                    </ul>
                </ol>
            </div>

        </div>
    </div>
</div>