html,
body {
    height: 100%;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-size: small;
    color: #000000;
}

.navbar-default {
    position: fixed;
    left: 0px;
    right: 0px;
    padding: 0px;
    background-color: #000000;
    margin: 0px -5% -20%;
    box-shadow: #212121;

}


.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white; /*BACKGROUND color for active*/
    background-color: #030033;
    border-right: 5px solid #ffffff;
    border-left: 5px solid #ffffff;

}

.navbar-nav > li {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
}

.navbar-nav > li:hover,
.nav > li > a:focus {
    color: rgb(0, 0, 0);
    background-color: #0069ee;
    text-decoration: none;

}

.navbar-default .navbar-nav > li > a {
    color: #ffffff; /*Change active text color here*/

}

.container.container-fluid {
    padding-right: 0; /*15px in bootstrap.css*/
    padding-left: 0; /*idem*/
    margin-right: 0;
    margin-left: 0;

}

ul#navigation .active {
    color: #000000;
    background-color: #0069ee;
}

.navbar-brand {
    max-height: 40px;
    max-width: 30%;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
}

body {
    background-color: #00b3ee;
}

.jumbotron {
    background-color: #0069ee;
    color: #ffffff;
    border-radius: 0;
}
/*TODO: MODULARIZE STRIPED BLOCKS*/
.block-1 {
    background-color: #0069ee;
    color: #ffffff;
    border-radius: 0;
    border-right: 5px solid #ffffff;
    border-left: 5px solid #ffffff;
}
.container-1 {
    background-color: #0069ee;
    color: #ffffff;
    border-radius: 0;
    border-right: 5px solid #ffffff;
    border-left: 5px solid #ffffff;
    margin-top: 47px;

}

.block-2 {
    background-color: #000000;
    color: #ffffff;
    border-radius: 0;
    border-right: 5px solid #ffffff;
    border-left: 5px solid #ffffff;

}

.logo-1, .logo-2 {
    font-size: 200px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
}

.logo-1:hover {
    font-size: 200px;
    color: #0069ee;
    cursor: default;
}

.logo-2:hover {
    font-size: 200px;
    color: #000000;
    cursor: default;
}

@media screen and (max-width: 768px) {
    .col-lg-4 {
        text-align: center;
        margin: 25px 0;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 100%;
    margin: 0 auto;
    background-color: #000000;
    color: #fff;
    border-top: 1px solid #ddd;
}

.btn-lg, .btn {
    border-radius: 0;
    background-color: #ffffff;
    border: none;
    color: #000;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
}

.btn-lg:hover {
    border-radius: 0;
    background-color: #0069ee;
    border: none;
    color: #000;
}

.btn-secondary:hover {
    border-radius: 0;
    background-color: #000000;
    border: none;
    color: #ffffff;
}

.col-lg-4, .col-lg-8 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.input-1 {
    color: black;
    background-color: white;
}

.hr-fat {
    border-top: 5px solid #ffffff;
    text-align: center;
}



.user-block {
    color: #000000;
    background-color: #0069ee;
    border: 5px solid #fff;
    padding: 0px;
    display: block;
    box-shadow: 0 0 5px #696969;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    margin: 20px;
    font-size: 21px;
    transition: all 0.5s ease;
}

.user-block-inv {
    color: #f9efff;
    background-color: #000000;
    border: 5px solid #fff;
    padding: 0px;
    display: block;
    box-shadow: 0 0 5px #696969;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    margin: 20px;
    font-size: 21px;
    transition: all 0.5s ease;
}

.user-block:hover{
    text-decoration: none;
    background-color: #000000;
    color: white;
    box-shadow: 0 0 2px #696969;
}

.user-block-inv:hover{
    text-decoration: none;
    background-color: #0069ee;
    color: white;
    box-shadow: 0 0 2px #696969;
}

.threads img
{
    border: 10px solid #fff;
    box-shadow: 0 0 5px #696969;
    margin: 15px 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition: all 0.5s ease;
}

.threads img:hover{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    border: 10px solid #000000;
    box-shadow: 0 0 2px #696969;
}

.page-body {
    -webkit-transition: all 1.0s ease;
    -moz-transition: all 1.0s ease;
    -o-transition: all 1.0s ease;
    transition: all 1.0s ease;
}

.page-body-collapse {
    margin-top: -100%;
}

p {
    margin: 10px 0px 10px;
    margin-left: 15px;
}

.profile, .list {
    margin-bottom: 5%;
    margin-top: 5%;
    margin-right: 5%;
    font-size: 12pt;
}

.comment-block {
    color: #fff;
    font-size: 12pt;
    background-color: #0069ee;
    border: 2px solid #000;
    padding: 0px;
    display: block;
    margin: 5px;
}

#line-list {
    display: inline-flex;
    flex-flow: row wrap;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 10%;
}

.icon {
    text-align: center;
    width:100%;
}

.dir {
    display: inline-block;
    width: 100%;
    margin: 10px;
    color: #f2f2f2;
    transition: color .2s ease, background .2s ease;
    text-align: center;
}

.dir:hover {
    text-decoration: none;
    background-color: #0069ee;
    color: #000000;
    cursor: default;
}

#browser {
    background-color: #000000;
    text-align: left;
    margin-bottom: 15px;
}

figcaption {
    display: block;
}

.vertical-align {
    display: flex;
    align-items: center;
}

/* TODO: Implement fade effect for user search text */
/*.fade {*/
    /*opacity: 1;*/
    /*transition: opacity .25s ease-in-out;*/
    /*-moz-transition: opacity .25s ease-in-out;*/
    /*-webkit-transition: opacity .25s ease-in-out;*/
/*}*/

/*.fade-collapse {*/
    /*opacity: 0;*/
/*}*/
