html,
body {
    height: 100%;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-size:small;
    color: #000000;
}

/* THIS IS FOR CAROUSEL IT DOESNT WERK LOL */
/*#slides_control > div{*/
    /*height: 200px;*/
/*}*/
/*img{*/
    /*margin:auto;*/
    /*width: 400px;*/
/*}*/
/*#slides_control {*/
    /*position:absolute;*/
    /*width: 400px;*/
    /*left:50%;*/
    /*top:20px;*/
    /*margin-left:-200px;*/
/*}*/

.navbar-default {
    position: relative;
    left: 0px;
    right: 0px;
    padding: 0px;
    margin: 0px;
    background-color: #000000;
    margin-top: 0px;
    margin-left: -5%;
    margin-right: -5%;
    box-shadow: #212121;

}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white; /*BACKGROUND color for active*/
    background-color: #030033;

}

.navbar-nav>li{
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;

}

.navbar-nav>li:hover,
.nav > li > a:focus {
    color: rgb(0, 0, 0);
    background-color: #0069ee;
    text-decoration: none;

}

.navbar-default .navbar-nav > li > a {
    color: #ffffff; /*Change active text color here*/

}

.container.container-fluid {
    padding-right
    : 0; /*15px in bootstrap.css*/
    padding-left: 0;  /*idem*/
    margin-right: 0;
    margin-left: 0;

}

ul#navigation .active{
    color: #000000;
    background-color: #0069ee;
}

.navbar-brand {
    max-height: 40px;
    max-width: 30%;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
}

body {
    background-image: url(../img/wallpaper.png);
}

.jumbotron
{
    background-color: #0069ee; /* Orange */
    color: #ffffff;
    border: 15px solid #000000;

}