<div>
<p>Listing by classes</p>

<table st-table="displayClasses" st-safe-src="classes" class="table">
    <thead>
    <tr>
    <th >Class Name</th>
    <th> Class Description</th>
    </tr>
    <th colspan="2">
            <input st-search="" placeholder="search ..." class="form-control"  type="search"/>
        </th>
    </thead>
    <tbody>
        <tr ng-repeat="some_class in displayClasses | orderBy : 'Name'"  st-select-row="row" st-select-mode="multiple">
            <td><a href ng-click="callUpdate({viewLoc:some_class.Name})">{{some_class.Name}}</a></td>
            <td>{{some_class.Description}}</td>
        </tr>
    </tbody>
</table>

</div>
